.projects {
  width: 100%;
  // border: solid black 1px;
  display: flex;
  flex-direction: column;
  padding: 10vh 0 10vh 0;

  .projectTitle {
    font-family: "Satoshi-Medium", sans-serif;
    font-size: 3vw;
  }

  .projectItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: solid var(--text) 1px;
    height: 20vh;
    color: var(--text);
    text-transform: uppercase;
    position: relative h1 {
      font-family: "Satoshi-Black", sans-serif;
      font-size: 6vw;
    }

    .imagePopUp {
      height: 40vh;
      width: 50vw;
      position: absolute;
    }
    .imagePopUp img {
      object-fit: cover;
      object-position: top;
    }
  }
}
