.projects {
  width: 100%;
  // border: solid black 1px;
  display: flex;
  flex-direction: column;
  padding: 10vh 0 10vh 0;

  .projectTitle {
    font-family: "Satoshi-Regular", sans-serif;
    font-size: 6vw;
    width: 70vw;
    padding: 5vh 0 10vh 5vw;
    // text-transform: uppercase;
    color: var(--text);
  }

  .line {
    height: 2px;
    border-top: solid 1px var(--text);
    width: 100%;
    opacity: 0.6;
  }

  .projectItem {
    display: flex;
    align-items: center;
    // justify-content: center;
    width: 100%;
    border-bottom: solid var(--text) 1px;
    height: 20vh;
    color: var(--text);
    text-transform: uppercase;
    position: relative;
    padding-left: 3vw;

    h1 {
      font-family: "Satoshi-Black", sans-serif;
      font-size: 6vw;
    }

    .imagePopUp {
      height: 45vh;
      width: 45vw;
      position: absolute;
      left: 50%;
      z-index: 10;
      background: var(--background);
    }
    .imagePopUp img {
      object-fit: cover;
      object-position: top;
    }
  }
}
