@import url("satoshi.css");
@import "tailwindcss";

:root {
  --background: #484949;
  --background-loader: #1e1e1e;
  --text: #ffffff;
  --phonepanel: #7eacdb;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Satoshi-Regular", sans-serif;
}
