.about {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.2);
  @media (max-width: 768px) {
    height: 100vh;
  }

  .imageContainer {
    // padding-top: 10vh;
    position: relative;
    height: 100vh;
    width: 100%;
    @media (max-width: 768px) {
      height: 100vh;
    }
  }

  .imageContainer img {
    object-fit: cover;
    object-position: left;
    filter: brightness(60%);
    @media (max-width: 768px) {
      object-position: top;
    }
  }

  .aboutText {
    position: absolute;
    display: flex;
    flex-direction: row;
    // height: 100%;
    width: 100%;
    justify-content: space-around;
    margin: 20vh 0 0 0;
    // align-items: center;
    // gap: 30vw;

    @media (max-width: 768px) {
      margin: 10vh 0 0 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .headerText {
    font-family: "Satoshi-Black", sans-serif;
    font-size: 8vw;

    text-transform: uppercase;
    color: var(--text);
    color: transparent; /* Le remplissage du texte */
    -webkit-text-stroke: 1px var(--text); /* Contour */

    @media (max-width: 768px) {
      font-size: 15vw;
    }
  }

  .contentText {
    padding-top: 5vh;
    color: var(--text);
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;

    @media (max-width: 768px) {
      width: 90vw;
    }
  }
}
