.gallery {
  display: flex;
  position: relative;
  width: 100%;
}
.imageGrid {
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;

  padding: 5vh 0 5vh 11vw;
}

.galleryImage {
  display: flex;
  align-items: center;
  justify-content: center;

  .imageContainer {
    position: relative;
    height: 50vh;
    width: 85vw;
    background-color: white;
    overflow: hidden;
  }

  .imageContainer img {
    object-fit: cover;
    object-position: top;
  }
}

.panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 10vw;
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  padding: 3vh 0 3vh 0;
  text-transform: uppercase;
  font-family: "Satoshi-Bold", sans-serif;
  font-size: 5vw;

  .smallLine {
    height: 10vh;
    border-left: solid 2px var(--text);
  }

  .longLine {
    height: 100%;
    border-left: solid 2px var(--text);
  }
}

.carousel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--background);
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .topContainer {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .imageSlider {
    height: 80vh;
    width: 100%;

    .carouselContainer {
      display: flex;
      height: 80vh;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .carouselItem {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 80vh;
      width: 100vw;
    }

    .carouselItem img {
      object-fit: contain;
    }
  }

  .bottom {
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
    gap: 1vw;

    .dot {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: var(--text);
      cursor: pointer;
    }
  }
}
