.contact {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  gap: 10vw;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
    height: 80vh;
  }

  .header {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Satoshi-Black", sans-serif;
    font-size: 8vw;

    text-transform: uppercase;
    color: var(--text);
    color: transparent; /* Le remplissage du texte */
    -webkit-text-stroke: 1px var(--text); /* Contour */

    @media (max-width: 768px) {
      // margin-top: 5vh;
      width: 80vw;
      font-size: 15vw;
    }
  }

  .infos {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 40vh;
    width: 40vw;
    flex-direction: column;
    gap: 3vh;
    // border: solid red 1px;
    @media (max-width: 768px) {
      width: 60vw;
    }

    .infoElement {
      display: flex;
      flex-direction: column;
      align-items: start;
      cursor: pointer;

      .name {
        font-family: "Satoshi-Medium", sans-serif;
        font-size: 2vw;

        @media (max-width: 768px) {
          font-size: 6vw;
        }
      }

      .contentContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        font-family: "Satoshi-Regular", sans-serif;

        .copy {
          z-index: 9;
        }
      }

      .lineContainer {
        position: relative;
        justify-content: center;
        height: 20px;
        width: 150px;
        display: flex;
        overflow: hidden;
        .line {
          border-top: solid 2px var(--text);
          width: 100%;
          position: relative;
          z-index: 8;
          height: 1px;
          transform: rotate(-2deg);
          transform-origin: right center;
        }

        .screen {
          position: absolute;
          // background-color: var(--background-loader);
          background-color: var(--background);
          z-index: 9;
          height: 30px;
          width: 100%;
          opacity: 1;
        }
      }
    }
  }
}
